In [1]:
import pandas as pd
import numpy as np

### the format xlsx for excel files need the package xlrd - installing that with "!pip install xlrd"

In [2]:
product = pd.read_excel(r"./dataset/product.xlsx")
order_data = pd.read_csv(r"./dataset/tarikhche kharid.csv")
comments = pd.read_excel(r"./dataset/comment.xlsx")
orders = pd.read_csv(r"./dataset/orders.csv")
quality = pd.read_excel(r"./dataset/keifiat.xlsx")

In [4]:
product.head(5)

,id,product_title_fa,product_title_en,url_code,title_alt,category_title_fa,category_keywords,brand_name_fa,brand_name_en,product_attributes
0,723302,ماگ حرارتی لومانا مدل عرفانه کد MAG1042,NaN,ماگ-حرارتی-لومانا-مدل-عرفانه-کد-mag1042,mug، لیوان ، ماگ ، فنجان ، لیوان دسته دار ، لو...,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,لومانا,Lomana,"[{""Key"":""وزن بسته‌بندی"",""Value"":""480""},{""Key"":..."
1,727089,ست آبکش و آبگیر تیتیز مدل AP-9141 سایز متوسط,NaN,ست-آبکش-و-آبگیر-تیتیز-مدل-ap-9141-سایز-متوسط,";hsi, steel, کاسه، کاسه بامبو، لگن، کالا خانه ...",آبکش و آبگیر,آبکش و آبگیر VirgoBasin,تیتیز,Titiz,"[{""Key"":""دستگیره"",""Value"":""1 جفت""},{""Key"":""نوع..."
2,727096,روغن مرطوب کننده کدلی مدل Divine oil حجم 50 می...,NaN,روغن-مرطوب-کننده-کدلی-مدل-divine-oil-حجم-50-می...,NaN,روغن صورت,روغن صورت Face-Oil,کدلی,CAUDALIE,"[{""Key"":""حجم"",""Value"":""50""},{""Key"":""نوع عصاره""..."
3,727803,ست لحاف پوپلین هوبی مدل اما یکنفره چهار تکه کاوری,Hobby Emma Quilt Single Set - 4 Pieces,ست-لحاف-پوپلین-هوبی-مدل-اما-یکنفره-چهار-تکه-کاوری,روتختی اسپرت، اما، emma، روتختی یکنفره، لحاف ی...,سرویس خواب,سرویس خواب SleepSet,هوبی,Hobby,"[{""Key"":""ابعاد رو بالشی"",""Value"":""50×70""},{""Ke..."
4,725222,ماگ آبنبات رنگی مدل AR0143,NaN,ماگ-آبنبات-رنگی-مدل-ar0143,ماگ آبنبات رنگی،شذدشذشفقشدله،Mag Abnabatrangi,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,متفرقه,Miscellaneous,"[{""Key"":""در"",""Value"":""ندارد""},{""Key"":""جنس"",""Va..."

In [74]:
product.dropna(inplace = True)
product_desc = product.describe(include="all")
product_desc

,id,product_title_fa,product_title_en,url_code,title_alt,category_title_fa,category_keywords,brand_name_fa,brand_name_en,product_attributes
count,522.000000,522,522,522,522,522,522,522,522,522
unique,NaN,517,487,516,344,117,117,79,79,521
top,NaN,کیف پول زنانه چرم دیبا کد Z2,simplewears,کیف-پول-زنانه-چرم-دیبا-کد-z2,تابلو بوم نقاشی، نقاشی کلاسیک، تابلو مدرن، قاب...,کیف و کاور گوشی,کیف و کاور گوشی Cell-Phone-Pouch-Cover,متفرقه,Miscellaneous,"[{""Key"":""سایر توضیحات"",""Value"":""چاپ بر روي پار..."
freq,NaN,3,7,3,20,69,69,261,261,2
mean,725372.183908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1328.018194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,723112.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,724198.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,725474.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,726247.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,727967.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Making a DataFrame to organize describes ..

In [7]:
# Installing the xlsxwriter to write in a excel :)
# !pip install xlsxwriter

In [81]:
# The file Q1.xlsx created ..

writer = pd.ExcelWriter('Q1.xlsx', engine='xlsxwriter')

In [82]:
dframe = pd.DataFrame(columns=['نام ویژگی',
                               'نوع',
                               'بازه مقادیر',
                               'Min', 'Max', 'Mean', 'Mode', 'Median',
                               'مقادیر پرت'])

In [83]:
product_desc

,id,product_title_fa,product_title_en,url_code,title_alt,category_title_fa,category_keywords,brand_name_fa,brand_name_en,product_attributes
count,522.000000,522,522,522,522,522,522,522,522,522
unique,NaN,517,487,516,344,117,117,79,79,521
top,NaN,کیف پول زنانه چرم دیبا کد Z2,simplewears,کیف-پول-زنانه-چرم-دیبا-کد-z2,تابلو بوم نقاشی، نقاشی کلاسیک، تابلو مدرن، قاب...,کیف و کاور گوشی,کیف و کاور گوشی Cell-Phone-Pouch-Cover,متفرقه,Miscellaneous,"[{""Key"":""سایر توضیحات"",""Value"":""چاپ بر روي پار..."
freq,NaN,3,7,3,20,69,69,261,261,2
mean,725372.183908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1328.018194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,723112.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,724198.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,725474.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,726247.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,727967.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Preparing Describe table for Product ..
# table: product

for i in range(len(product_desc.columns)):
    dframe.loc[i] = ""
    dframe.loc[i][0] = product_desc.columns[i]
    dframe.loc[i][1] = product_desc.dtypes[i]
    dframe.loc[i][2] = "TODO"
    dframe.loc[i][3] = product_desc.iloc[6, :][i]
    dframe.loc[i][4] = product_desc.iloc[10, :][i]
    dframe.loc[i][5] = product_desc.iloc[4, :][i]
    dframe.loc[i][6] = "TODO"
    dframe.loc[i][7] = "TODO"
    dframe.loc[i][8] = "TODO"
    
dframe.to_excel(writer, sheet_name='Product')
dframe

,نام ویژگی,نوع,بازه مقادیر,Min,Max,Mean,Mode,Median,مقادیر پرت
0,id,float64,TODO,723112,727967,725372,TODO,TODO,TODO
1,product_title_fa,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
2,product_title_en,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
3,url_code,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
4,title_alt,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
5,category_title_fa,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
6,category_keywords,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
7,brand_name_fa,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
8,brand_name_en,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
9,product_attributes,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO

### Here we Finished with the Product table .. 
#### From now on we speed up the preprocess and repeat the last algorithms for other tables ..

In [85]:
# table: order_data

order_data.dropna(inplace = True)
order_data_desc = order_data.describe(include="all")
order_data_desc

,id,product_variant_id,selling_price,rrp_price,base_price,buy_price,order_limit,start_at,end_at,tags,show_in_price_history,active,created_at,product_id,marketplace_seller_id
count,2.184358e+06,2.184358e+06,2.184358e+06,2.184358e+06,2184358,2184358,2.184358e+06,2184358,2184358,2184358,2.184358e+06,2.184358e+06,2184358,2.184358e+06,2.184358e+06
unique,NaN,NaN,NaN,NaN,7328,805,NaN,816,883,4,NaN,NaN,1853830,NaN,NaN
top,NaN,NaN,NaN,NaN,\N,\N,NaN,\N,\N,\N,NaN,NaN,2018-10-09 09:39:31,NaN,NaN
freq,NaN,NaN,NaN,NaN,2090066,2177495,NaN,2127157,2127157,2126456,NaN,NaN,217,NaN,NaN
mean,1.485650e+07,1.474217e+06,5.835065e+10,5.852594e+10,NaN,NaN,5.127288e+00,NaN,NaN,NaN,9.980988e-01,6.230709e-02,NaN,3.462683e+05,2.062241e+04
std,2.690941e+06,1.883288e+05,8.459160e+13,8.459193e+13,NaN,NaN,1.394571e+02,NaN,NaN,NaN,4.356181e-02,2.417125e-01,NaN,2.512148e+05,2.595195e+04
min,7.003798e+06,1.155042e+06,1.000000e+00,1.000000e+00,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00,NaN,3.000000e+02,1.000000e+00
25%,1.279805e+07,1.303804e+06,7.200000e+05,7.900000e+05,NaN,NaN,1.000000e+00,NaN,NaN,NaN,1.000000e+00,0.000000e+00,NaN,1.388300e+05,5.950000e+02
50%,1.534980e+07,1.434234e+06,3.436000e+06,3.500000e+06,NaN,NaN,1.000000e+00,NaN,NaN,NaN,1.000000e+00,0.000000e+00,NaN,2.903280e+05,8.251000e+03
75%,1.715047e+07,1.617925e+06,7.699900e+06,7.795000e+06,NaN,NaN,3.000000e+00,NaN,NaN,NaN,1.000000e+00,0.000000e+00,NaN,5.544270e+05,5.277300e+04
max,1.875208e+07,1.977385e+06,1.250001e+17,1.250001e+17,NaN,NaN,1.450000e+04,NaN,NaN,NaN,1.000000e+00,1.000000e+00,NaN,9.578910e+05,9.073100e+04

In [86]:
# table: order_data

for i in range(len(order_data_desc.columns)):
    dframe.loc[i] = ""
    dframe.loc[i][0] = order_data_desc.columns[i]
    dframe.loc[i][1] = order_data_desc.dtypes[i]
    dframe.loc[i][2] = "TODO"
    dframe.loc[i][3] = order_data_desc.iloc[6, :][i]
    dframe.loc[i][4] = order_data_desc.iloc[10, :][i]
    dframe.loc[i][5] = order_data_desc.iloc[4, :][i]
    dframe.loc[i][6] = "TODO"
    dframe.loc[i][7] = "TODO"
    dframe.loc[i][8] = "TODO"
    
dframe.to_excel(writer, sheet_name='order_data')
dframe

,نام ویژگی,نوع,بازه مقادیر,Min,Max,Mean,Mode,Median,مقادیر پرت
0,id,float64,TODO,7.0038e+06,1.87521e+07,1.48565e+07,TODO,TODO,TODO
1,product_variant_id,float64,TODO,1.15504e+06,1.97738e+06,1.47422e+06,TODO,TODO,TODO
2,selling_price,float64,TODO,1,1.25e+17,5.83507e+10,TODO,TODO,TODO
3,rrp_price,float64,TODO,1,1.25e+17,5.85259e+10,TODO,TODO,TODO
4,base_price,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
5,buy_price,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
6,order_limit,float64,TODO,0,14500,5.12729,TODO,TODO,TODO
7,start_at,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
8,end_at,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
9,tags,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
10,show_in_price_history,float64,TODO,0,1,0.998099,TODO,TODO,TODO
11,active,float64,TODO,0,1,0.0623071,TODO,TODO,TODO
12,created_at,object,TODO,NaN,NaN,NaN,TODO,TODO,TODO
13,product_id,float64,TODO,300,957891,346268,TODO,TODO,TODO
14,marketplace_seller_id,float64,TODO,1,90731,20622.4,TODO,TODO,TODO

In [ ]:
writer.save()